# https://flake8.pycqa.org/en/latest/user/options.html#options-list
# Can install hooks to git flake8 --install-hook=git

[flake8]
max-line-length = 100
ignore =
    E121,
    E123,
    T499
max-complexity = 5
enable-extensions =
    H,
    G123
# verbose = 2
# extend-ignore =
#     E4,
#     E51,
#     W234
# quiet = 1
# count = True
# exclude =
#     .git,
#     __pycache__,
#     docs/source/conf.py,
#     old,
#     build,
#     dist
# filename =
#     example.py,
#     another-example*.py
# format=pylint
# format=%(path)s::%(row)d,%(col)d::%(code)s::%(text)s
# hang-closing = True
# per-file-ignores =
#     project/__init__.py:F401
#     setup.py:E121
#     other_project/*:W9
# select =
#     E431,
#     W,
#     F
# disable-noqa = True
# show-source = True
# statistics = True
# jobs = auto
# output-file = output.txt
# tee = True
# builtins =
#     _,
#     _LE,
#     _LW
# doctests = True
# include-in-doctest =
#     dir/subdir/file.py,
#     dir/other/file.py
# exclude-in-doctest =
#     dir/subdir/file.py,
#     dir/other/file.py
